<!-- 다른사람이 방문할거에오(ㅍ팝업) -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>다른사람이 방문해요</title>
    <link rel="stylesheet" href="/css/collection_detail.css">
</head>

<body>
    <div class="MuiPaper-root jss7 MuiDrawer-paper MuiDrawer-paperAnchorBottom MuiPaper-elevation0" tabindex="-1">
        <div class="drawer-box">
            <div class="drawer-box-header">
                <h2 class="drawer-box-title">방문자 입력</h2>
            </div>
            <div class="drawer-box-body">
                <div class="mb-8"><label class="font-14">방문자 성함</label></div><input type="text" class="form-input mb-25"
                    placeholder="방문하실 분의 성함을 입력해 주세요." value="">
                <div class="mb-8"><label class="font-14">방문자 연락처</label></div><input type="tel" class="form-input"
                    placeholder="방문하실 분의 휴대폰 번호를 입력해 주세요." value="">
            </div>
            <div class="drawer-box-footer">
                <div class="btn-group"><button class="btn btn-lg outline">취소</button><button
                        class="btn btn-lg btn-red">확인</button></div>
            </div>
        </div>
    </div>
</body>

</html>