<!-- 개인ㅇ정보 3자 제공 동의 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개인정보 3자 제공 동의</title>
    <link rel="stylesheet" href="/css/collection_detail.css">
</head>

<body>
    <div class="wrapper" style="width: 480px;">
        <header id="header" class="opaque">
            <div class="container">
                <div class="header-left"><button class="btn-close">닫기</button>
                    <h1 class="page-title">개인정보 제3자 제공 동의</h1>
                </div>
            </div>
        </header>
        <main id="main">
            <section class="section pt-20 pb-20">
                <div class="container gutter-sm">
                    <p class="font-14 plain-txt">캐치테이블은 회원들의 개인정보를 안전하게 취급하는 데 최선을 다합니다.<br><br>고객님의 개인정보는 예약진행, 고객상담,
                        고객관리, 분쟁 조정을 위한 기록 보존을 위해 아래 업체에 제공됩니다.<br><br>1. 제공받는 자 : 회원이 예약한 레스토랑, 예약관리 솔루션 캐치테이블
                        매장용<br><a>가맹업체</a><br><br>2. 제공받는 자의 개인정보 이용 목적 : 레스토랑 예약 서비스 제공 (서비스 계약 이행, 예약자 확인, 예약 관리, 고객
                        상담, 고객 관리, 문의 및 상담)<br><br>3. 제공하는 개인정보 항목 : 휴대전화번호, 예약자명, 결제정보,기타 예약정보<br><br>4. 제공받는 자의 보유기간 :
                        서비스 이용 완료 후 즉시 파기. 단, 관계법령에 정해진 규정에 따라 법정기간 동안 보관<br><br><span class="color-red">*</span> 서비스
                        제공을 위해 필요한 최소한의 개인정보이므로 동의를 해 주셔야 서비스 이용이 가능합니다. 더 자세한 내용에 대해서는 개인정보처리방침을 참고하시기 바랍니다.</p>
                </div>
            </section>
            <hr class="space-40">
        </main>
        <div class="sticky-bottom-btns"><button class="btn btn-lg btn-red">닫기</button></div>
    </div>
</body>

</html>