<!-- 결제 필수사항 동의알람 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>동의사항 안내</title>
    <link rel="stylesheet" href="/css/collection_detail.css">
</head>

<body>
    <div class="MuiPaper-root jss4 MuiDrawer-paper MuiDrawer-paperAnchorBottom MuiPaper-elevation0" tabindex="-1"
        style="transform: none; transition: transform 120ms cubic-bezier(0, 0, 0.2, 1) 0ms;">
        <div class="drawer-box">
            <div class="drawer-box-header">
                <h2 class="drawer-box-title">동의 사항 안내</h2>
            </div>
            <div class="drawer-box-body">
                <p class="color-gray mb-20">결제를 위한 필수 사항에 동의해주세요. </p>
            </div>
            <div class="drawer-box-footer">
                <div class="btn-group"><button class="btn btn-lg btn-red">확인</button></div>
            </div>
        </div>
    </div>
</body>

</html>