<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>즐거운 미식 생활의 시작, 캐치테이블</title>
    <div th:replace="fragment/link :: link"/>
    <link rel="stylesheet" href="/css/booking.css">
    <link rel="stylesheet"href="/air-datepicker/dist/css/datepicker.min.css"/>
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/air-datepicker/dist/js/datepicker.min.js"></script>
    <script src="/air-datepicker/dist/js/i18n/datepicker.ko.js"></script>
    <script defer src ="/js/calendar.js"></script>
</head>
    <style>
        .datepicker {
            width:680px;
            margin: 0 auto;
            height: 400px;
            padding: 20px;
            margin-bottom: 40px;
        }
        .datepicker--nav {
            justify-content: space-evenly;            
            width:100%;
        }
        .datepicker--day-name {
            color: #666;
            font-size: 12px;
        }
        .datepicker--days-names {
            height:30px;
        }
        .datepicker--cell.-selected-,.datepicker--cell.-selected-, .datepicker--cell.-selected-.-current-{
            color: #fff;
            background: #ff3d00;
        }
        .datepicker--cell.-focus-.-selected-, .datepicker--cell.-focus- {
            background-color: #e8e8e8;
        }
        .datepicker--cells .datepicker--cells-days {
            width:100%;
            height: 100%;
        }
        
        .datepicker--cell-day {
            font-size: 15px;
            height:60px;
        }

        .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
            color: #fff;
            background: #ff3d00;
        }
        .option-personnel label input:checked+span {
            border-color: #ff3d00;
            background-color: #ff3d00;
            color: #fff;
        }
       
    </style>
</head>
<body>
<div id="root">
<!--  header 시작-->
    <header  id="header1">
        ㅎㄷㅎㄷ
    </header>
<!--header 끝-->
        <div class="wrapper">
            <main id="main">
                <section class="section">
                    <header th:text="${resaBisName}" id="header">
                        스시도온
                    </header>
                    <!-- 날짜 API -->
                    <div id="datepicker">
                    </div>
                    <div class="select-all">
                        <div class="option-personnel swiper-container mb-24">
                            <div id="optionPersonalCntList" class="v-scroll">
                                <div class="v-scroll-inner">
                                    <div id="optionPersonalCntList" class="" style="display: flex; flex-wrap: nowrap;">
                                        <label class="swiper-slide" style="margin-right: 6px;">
                                            <input class="count" type="radio" name="count" value="1" onclick="sendRes()"><span>1명</span>
                                        </label>
                                        <label class="swiper-slide" style="margin-right: 6px;">
                                            <input class="count" type="radio" name="count" value="2" onclick="sendRes()"><span>2명</span>
                                        </label>
                                        <label class="swiper-slide" style="margin-right: 6px;">
                                            <input class="count" type="radio" name="count" value="3" onclick="sendRes()"><span>3명</span>
                                        </label>
                                        <label class="swiper-slide" style="margin-right: 6px;">
                                            <input class="count" type="radio" name="count" value="4" onclick="sendRes()"><span>4명</span>
                                        </label>
                                        <label class="swiper-slide" style="margin-right: 6px;">
                                            <input class="count" type="radio" name="count" value="5" onclick="sendRes()"><span>5명</span>
                                        </label>
                                        <label class="swiper-slide" style="margin-right: 6px;">
                                            <input class="count" type="radio" name="count" value="6" onclick="sendRes()"><span>6명</span>
                                        </label>
                                        <label class="swiper-slide" style="margin-right: 6px;">
                                            <input class="count" type="radio" name="count" value="7" onclick="sendRes()"><span>7명</span>
                                        </label>
                                        <label class="swiper-slide" style="margin-right: 6px;">
                                            <input class="count" type="radio" name="count" value="8" onclick="sendRes()"><span>8명</span>
                                        </label>
                                        <label class="swiper-slide" style="margin-right: 6px;">
                                            <input class="count" type="radio" name="count" value="9" onclick="sendRes()"><span>9명</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="v-scroll" id="scrollContainer_1671430849_164" style="">
                            <div class="v-scroll-inner" style="display: flex;">
                                <div id="timelist" class="timetable-list timetable-list-sm" style="">
                                    <a href="#" id="scrollContainer_1671430849_164_itemElem_17002" class="timetable-list-item empty" style="margin-bottom: auto; margin-top: auto;">
                                        <span class="time">빈자리 알림신청</span>
                                    </a>
                                </div>
                                <div class="timetable-list timetable-list-sm">
                                    <a class="timetable-list-item" style="width: 1px; border-color: rgb(255, 255, 255);">
                                    <span class="time" style="background-color: rgb(255, 255, 255);">&nbsp;</span>
                                    <span class="event">&nbsp;</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="drawer-box">
                        <hr style="width:720px;" >
                        <div class="drawer-box-header">
                            <h2 class="drawer-box-title">예약금 확인</h2>
                        </div>
                        <div class="progress"><span class="bar" style="width: 100%;"></span></div>
                        <div class="drawer-box-body fixed-height">
                            <p class="notice mt-15 mb-20">인원에 따른 예약 보증금이 발생합니다.</p>
                            <div class="boxed-dl-list mb-20">
                                <dl class="mb-10">
                                    <dt>1인당 예약금</dt>
                                    <dd>50,000원</dd>
                                </dl>
                                <dl class="">
                                    <dt>x 총 예약 인원</dt>
                                    <dd class="person_html">0명</dd>
                                </dl>
                                <hr class="hairline mt-20 mb-20">
                                <dl class="dl-lg">
                                    <dt>합계</dt>
                                    <dd class="price_html">0원</dd>
                                </dl>
                            </div>
                            <div class="well">
                                <h4 class="font-11 mb-10">환불정책</h4>
                                <p class="font-11 color-gray">·14일 전 취소: 100% 환불<br>·13일 전 취소: 50% 환불<br>·12일 전 취소: 50% 환불<br>·11일 전
                                    취소: 50% 환불<br>·10일 전 취소: 50% 환불<br>·9일 전 취소: 환불 불가<br>·8일 전 취소: 환불 불가<br>·7일 전 취소: 환불 불가<br>·6일
                                    전 취소: 환불 불가<br>·5일 전 취소: 환불 불가<br>·4일 전 취소: 환불 불가<br>·3일 전 취소: 환불 불가<br>·2일 전 취소: 환불 불가<br>·1일
                                    전
                                    취소: 환불 불가<br>·당일 취소: 환불 불가<br>·노쇼 시: 환불 불가<br></p>
                            </div>
                        </div>
                        <div class="drawer-box-footer">
                            <div class="font-16 txt-center bold mb-20">총 예약금 <span class="color-red price_html">0원</span></div>
                            <div class="btn-group"><button class="btn btn-lg btn-outline">이전</button><button class="btn btn-lg btn-red" onclick="sendPayment()">확인</button></div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <div th:replace="fragment/footer :: footer"/>
    </div>
</body>
</html>
