<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>즐거운 미식 생활의 시작, 캐치테이블</title>
    <div th:replace="fragment/link :: link"/>
    <link rel="stylesheet" href="/css/mypage.css">
    <link rel="stylesheet" href="/css/collection_detail.css">
  </head>
  <body>
  <div id="root">>
    <!--  header 시작-->
    <header id="header">
      ㅎㄷㅎㄷ
    </header>
    <!--header 끝-->
    <!--  mypageHeader-->
    <div th:replace="fragment/mypage_header :: mypage_header"/>
    <!--  /mypageHeader-->
    <div class="css-luwwab eug5r8l1 wrapper">
      <div th:replace="fragment/mypage_aside :: mypage_aside"/>
      <div class="css-171zbec eug5r8l0">
        <div class="css-j0lifa ed9qr673" style="padding: 0;">
            <section class="section pt-24 container gutter-sm">
                <h2 class="collection-top-title private">스시오마카세</h2>
            </section>
            <button class="btn btn-lg btn-outline full-width mb-8" onclick="location.href='#'">
                <span class="add">레스토랑 추가하기</span>
            </button>
        </div>
        <div class="my-list-detail-top" style="padding-left: 21px;">
            <dl>
              <dt><strong>내가 만든 컬렉션</strong></dt>
              <!-- <dd>0일전 업데이트</dd> -->
            </dl>
            <p class="excerpt">스시가 맛있는 오마카세!</p>
          </div>

          <div class="saved-restaurant-list">
            <div id="collection-detail-infinity-scroll" style="padding-left: 21px;">
              <div
                id="collection-detail-infinity-scroll_0"
                data-dummy="187"
              >
                <div class="saved-restaurant-list-item">
                  <div class="restaurant-info">
                    <a href="#" class="tb">
                      <div
                        class="img"
                        style="
                          background-image: url('https://image.toast.com/aaaaaqx/catchtable/shopinfo/s17888/17888_2071611361556439_thumbMenuImage.jpg');
                        "
                      ></div>
                    </a>
                    <a href="#" class="detail">
                      <h4 class="name">스시쿤 정자점</h4>
                      <p class="excerpt">정자동 미들급 스시 오마카세 맛</p>
                      <div class="restaurant-meta">
                        <div class="rating">
                          <span class="star">4.6</span>
                          <span class="count">(572)</span>
                        </div>
                        <span class="price"> 점심 6만원 저녁 10만원 </span>
                      </div>
                    </a>
                    <a class="btn-bookmark active">북마크</a>
                  </div>
                  <div class="restaurant-meta mb-30"></div>
                  
                </div>
              </div>
              <div
                id="collection-detail-infinity-scroll_1"
                data-dummy="187"
              >
                <div class="saved-restaurant-list-item">
                  <div class="restaurant-info">
                    <a href="#" class="tb">
                      <div
                        class="img"
                        style="
                          background-image: url('https://image.toast.com/aaaaaqx/catchtable/shopinfo/s17888/17888_2071611361556439_thumbMenuImage.jpg');
                        "
                      ></div>
                    </a>
                    <a href="#" class="detail">
                      <h4 class="name">스시쿤 정자점</h4>
                      <p class="excerpt">정자동 미들급 스시 오마카세 맛</p>
                      <div class="restaurant-meta">
                        <div class="rating">
                          <span class="star">4.6</span>
                          <span class="count">(572)</span>
                        </div>
                        <span class="price"> 점심 6만원 저녁 10만원 </span>
                      </div>
                    </a>
                    <a class="btn-bookmark active">북마크</a>
                  </div>
                  <div class="restaurant-meta mb-30"></div>
                 
                </div>
              </div>
              <div
                id="collection-detail-infinity-scroll_2"
                data-dummy="187"
              >
                <div class="saved-restaurant-list-item">
                  <div class="restaurant-info">
                    <a href="#" class="tb">
                      <div
                        class="img"
                        style="
                          background-image: url('https://image.toast.com/aaaaaqx/catchtable/shopinfo/s17888/17888_2071611361556439_thumbMenuImage.jpg');
                        "
                      ></div>
                    </a>
                    <a href="#" class="detail">
                      <h4 class="name">스시쿤 정자점</h4>
                      <p class="excerpt">정자동 미들급 스시 오마카세 맛</p>
                      <div class="restaurant-meta">
                        <div class="rating">
                          <span class="star">4.6</span>
                          <span class="count">(572)</span>
                        </div>
                        <span class="price"> 점심 6만원 저녁 10만원 </span>
                      </div>
                    </a>
                    <a class="btn-bookmark active">북마크</a>
                  </div>
                  <div class="restaurant-meta mb-30"></div>
                 
                </div>
              </div>
              <div
                id="collection-detail-infinity-scroll_0"
                data-dummy="187"
              >
                <div class="saved-restaurant-list-item">
                  <div class="restaurant-info">
                    <a href="#" class="tb">
                      <div
                        class="img"
                        style="
                          background-image: url('https://image.toast.com/aaaaaqx/catchtable/shopinfo/s17888/17888_2071611361556439_thumbMenuImage.jpg');
                        "
                      ></div>
                    </a>
                    <a href="#" class="detail">
                      <h4 class="name">스시쿤 정자점</h4>
                      <p class="excerpt">정자동 미들급 스시 오마카세 맛</p>
                      <div class="restaurant-meta">
                        <div class="rating">
                          <span class="star">4.6</span>
                          <span class="count">(572)</span>
                        </div>
                        <span class="price"> 점심 6만원 저녁 10만원 </span>
                      </div>
                    </a>
                    <a class="btn-bookmark active">북마크</a>
                  </div>
                  <div class="restaurant-meta mb-30"></div>
                  
                </div>
              </div>
              
              
            </div>
          </div>

      </div>
    </div>
    <div th:replace="fragment/footer :: footer"/>
  </div>
  </body>
</html>
