<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>즐거운 미식 생활의 시작, 캐치테이블</title>
    <div th:replace="fragment/link :: link"/>
    <link rel="stylesheet" href="/css/collection_detail.css" />
    <link rel="stylesheet" href="/css/notice.css">

  </head>
  <body class="disable-user-select">
    <div id="root">
  <!-- header 시작 -->
        <header id="header">
            ㅎㄷㅎㄷ
        </header>
  <!-- header 끝 -->
      <div class="wrapper">
        <div class="css-2b29tl eug5r8l2">
            <div class="css-luwwab eug5r8l1">
                <div class="css-833hqy ecbxmj4">
                    <div class="css-1v4whg ecbxmj3">공지사항</div>
                    <!-- aside 시작 -->
                    <div th:replace="fragment/notice_aside :: notice_aside"/>
                    <!-- aside 끝 -->
                </div>
                <div class="css-171zbec eug5r8l0">
                    <div class="css-j0lifa ed9qr673">
                        <div class="css-fhxb3m ed9qr672">
                            <h2 class="css-1268zpe ed9qr671">공지사항</h2><span class="css-a3vgo2 ed9qr670">캐치 테이블의 새로운 소식들과 유용한 정보들을 한곳에서 확인하세요.</span>
                        </div>
                    </div>
                    <div class="css-e23nfx e16adls21">
                        <div width="50" class="css-mbsaqp e16adls20">번호</div>
                        <div class="css-1ym8aqm e16adls20">제목</div>
                        <div width="100" class="css-16tcewl e16adls20">작성자</div>
                        <div width="100" class="css-16tcewl e16adls20">작성일</div>
                    </div>
                    <ul class="css-1fttcpj e1cfowvj5">
                        <li><a href="/board/notice/detail/1566">
                                <div class="css-14yglsw e1cfowvj4">
                                    <div class="css-3o6rrk e1cfowvj2">공지</div>
                                    <div class="css-fzefrb e1cfowvj2">[안내] 컬리 소비자 분쟁해결 기준 안내</div>
                                    <div class="css-3d2kks e1cfowvj2">캐치테이블</div>
                                    <div class="css-b1hszl e1cfowvj2">2022.07.27</div>
                                </div>
                            </a></li>
                        <li><a href="/board/notice/detail/1692">
                                <div class="css-14yglsw e1cfowvj4">
                                    <div class="css-3o6rrk e1cfowvj2">1682</div>
                                    <div class="css-fzefrb e1cfowvj2">[안내] 이메일 서버 점검으로 인한 이메일 전송 지연 안내 (2022.12.22)</div>
                                    <div class="css-3d2kks e1cfowvj2">컬리</div>
                                    <div class="css-b1hszl e1cfowvj2">2022.12.20</div>
                                </div>
                            </a></li>
                        <li><a href="/board/notice/detail/1691">
                                <div class="css-14yglsw e1cfowvj4">
                                    <div class="css-3o6rrk e1cfowvj2">1681</div>
                                    <div class="css-fzefrb e1cfowvj2">[안내] 스마일페이 시스템 점검 안내 (2022.12.18)</div>
                                    <div class="css-3d2kks e1cfowvj2">컬리</div>
                                    <div class="css-b1hszl e1cfowvj2">2022.12.14</div>
                                </div>
                            </a></li>
                        <li><a href="/board/notice/detail/1690">
                                <div class="css-14yglsw e1cfowvj4">
                                    <div class="css-3o6rrk e1cfowvj2">1680</div>
                                    <div class="css-fzefrb e1cfowvj2">[이벤트] 2022년 11월 뷰티컬리 그랜드 오픈 페스타 ELCA 원데이 브랜드데이 특별 적립금 지급 연기 안내</div>
                                    <div class="css-3d2kks e1cfowvj2">컬리</div>
                                    <div class="css-b1hszl e1cfowvj2">2022.12.08</div>
                                </div>
                            </a></li>
                        <li><a href="/board/notice/detail/1689">
                                <div class="css-14yglsw e1cfowvj4">
                                    <div class="css-3o6rrk e1cfowvj2">1679</div>
                                    <div class="css-fzefrb e1cfowvj2">[이벤트] 블랙위크 이벤트 적립금 지급 1일 지연 공지</div>
                                    <div class="css-3d2kks e1cfowvj2">컬리</div>
                                    <div class="css-b1hszl e1cfowvj2">2022.12.06</div>
                                </div>
                            </a></li>
                        <li><a href="/board/notice/detail/1687">
                                <div class="css-14yglsw e1cfowvj4">
                                    <div class="css-3o6rrk e1cfowvj2">1678</div>
                                    <div class="css-fzefrb e1cfowvj2">[이벤트] 블랙위크 응모이벤트 당첨자 발표 </div>
                                    <div class="css-3d2kks e1cfowvj2">컬리</div>
                                    <div class="css-b1hszl e1cfowvj2">2022.12.02</div>
                                </div>
                            </a></li>
                        <li><a href="/board/notice/detail/1683">
                                <div class="css-14yglsw e1cfowvj4">
                                    <div class="css-3o6rrk e1cfowvj2">1677</div>
                                    <div class="css-fzefrb e1cfowvj2">[안내] 컬리 이용 약관 개정 사전 안내</div>
                                    <div class="css-3d2kks e1cfowvj2">컬리</div>
                                    <div class="css-b1hszl e1cfowvj2">2022.12.02</div>
                                </div>
                            </a></li>
                        <li><a href="/board/notice/detail/1682">
                                <div class="css-14yglsw e1cfowvj4">
                                    <div class="css-3o6rrk e1cfowvj2">1676</div>
                                    <div class="css-fzefrb e1cfowvj2">[이벤트] 컬리x카카오페이지 럭키드로우 이벤트 당첨자 발표</div>
                                    <div class="css-3d2kks e1cfowvj2">컬리</div>
                                    <div class="css-b1hszl e1cfowvj2">2022.12.02</div>
                                </div>
                            </a></li>
                        <li><a href="/board/notice/detail/1681">
                                <div class="css-14yglsw e1cfowvj4">
                                    <div class="css-3o6rrk e1cfowvj2">1675</div>
                                    <div class="css-fzefrb e1cfowvj2">[이벤트] 설화수 라이브방송 구매인증 이벤트 당첨자 안내의 건</div>
                                    <div class="css-3d2kks e1cfowvj2">컬리</div>
                                    <div class="css-b1hszl e1cfowvj2">2022.11.21</div>
                                </div>
                            </a></li>
                        <li><a href="/board/notice/detail/1680">
                                <div class="css-14yglsw e1cfowvj4">
                                    <div class="css-3o6rrk e1cfowvj2">1674</div>
                                    <div class="css-fzefrb e1cfowvj2">[이벤트] 헤라 라이브방송 구매인증 이벤트 당첨자 공지의 건</div>
                                    <div class="css-3d2kks e1cfowvj2">컬리</div>
                                    <div class="css-b1hszl e1cfowvj2">2022.11.21</div>
                                </div>
                            </a></li>
                        <li><a href="/board/notice/detail/1677">
                                <div class="css-14yglsw e1cfowvj4">
                                    <div class="css-3o6rrk e1cfowvj2">1673</div>
                                    <div class="css-fzefrb e1cfowvj2">[안내] 충청/대구 샛별배송 불가 일정 안내 (2022.11.20)</div>
                                    <div class="css-3d2kks e1cfowvj2">컬리</div>
                                    <div class="css-b1hszl e1cfowvj2">2022.11.16</div>
                                </div>
                            </a></li>
                        <li><a href="/board/notice/detail/1675">
                                <div class="css-14yglsw e1cfowvj4">
                                    <div class="css-3o6rrk e1cfowvj2">1672</div>
                                    <div class="css-fzefrb e1cfowvj2">[안내] 개인정보처리방침 개정 내용 사전안내</div>
                                    <div class="css-3d2kks e1cfowvj2">컬리</div>
                                    <div class="css-b1hszl e1cfowvj2">2022.11.04</div>
                                </div>
                            </a></li>
                        <li><a href="/board/notice/detail/1674">
                                <div class="css-14yglsw e1cfowvj4">
                                    <div class="css-3o6rrk e1cfowvj2">1671</div>
                                    <div class="css-fzefrb e1cfowvj2">[안내] 서비스명 변경 안내</div>
                                    <div class="css-3d2kks e1cfowvj2">컬리</div>
                                    <div class="css-b1hszl e1cfowvj2">2022.10.28</div>
                                </div>
                            </a></li>
                        <li><a href="/board/notice/detail/1672">
                                <div class="css-14yglsw e1cfowvj4">
                                    <div class="css-3o6rrk e1cfowvj2">1670</div>
                                    <div class="css-fzefrb e1cfowvj2">[안내] SKT 휴대폰 본인인증 시스템 점검 안내 (2022.10.28 ~ 10.29)</div>
                                    <div class="css-3d2kks e1cfowvj2">컬리</div>
                                    <div class="css-b1hszl e1cfowvj2">2022.10.27</div>
                                </div>
                            </a></li>
                        <li><a href="/board/notice/detail/1671">
                                <div class="css-14yglsw e1cfowvj4">
                                    <div class="css-3o6rrk e1cfowvj2">1669</div>
                                    <div class="css-fzefrb e1cfowvj2">[안내] LGU+ 휴대폰결제 시스템 점검 안내 (2022.10.18)</div>
                                    <div class="css-3d2kks e1cfowvj2">컬리</div>
                                    <div class="css-b1hszl e1cfowvj2">2022.10.18</div>
                                </div>
                            </a></li>
                    </ul>
                    <div class="css-1kbzkwh e14yho7m0">
                        <div class="css-sxxs1g eytury60"><button type="button" class="css-rzcdhr e1hbwyso0" disabled="">
                                <div class="css-7qb0sc e1ilyb3p0">이전</div>
                            </button><button type="button" class="css-1jwilit e1pk9060">
                                <div class="css-7qb0sc e1ilyb3p0">다음</div>
                            </button></div>
                    </div>
                </div>
            </div>
           
        </div>
      </div>
        <!-- footer 시작 -->
        <div th:replace="fragment/footer :: footer"/>
        <!-- footer 끝 -->
    </div>
  </body>
  <script src="/js/notice.js"></script>
</html>
