<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>즐거운 미식 생활의 시작, 캐치테이블</title>
    <div th:replace="fragment/link :: link"/>
    <link rel="stylesheet" href="/css/collection_detail.css" />
    <link rel="stylesheet" href="/css/notice.css">

        </script>
  </head>
  <body class="disable-user-select">
    
    <div id="root">
    <!-- header 시작 -->
        <header id="header">
            ㅎㄷㅎㄷ
        </header>
    <!-- header 끝 -->
      <div class="wrapper">
        <div class="css-2b29tl eug5r8l2">
            <div class="css-luwwab eug5r8l1">
                <div class="css-833hqy ecbxmj4">
                    <div class="css-1v4whg ecbxmj3">공지사항</div>
                    <!-- aside 시작 -->
                    <div th:replace="fragment/notice_aside :: notice_aside"/>
                    <!-- aside 끝 -->
                </div>
                <div class="css-171zbec eug5r8l0">
                    <div class="css-j0lifa ed9qr673">
                        <div class="css-fhxb3m ed9qr672">
                            <h2 class="css-1268zpe ed9qr671">나의 신고 내역</h2>
                            <!-- <span class="css-a3vgo2 ed9qr670">캐치 테이블의 새로운 소식들과 유용한 정보들을 한곳에서 확인하세요.</span> -->
                        </div>
                    </div>
                    <div class="css-e23nfx e16adls21">
                        <div width="50" class="css-mbsaqp e16adls20">번호</div>
                        <div width="100" class="css-16tcewl e16adls20">분류</div>
                        <div class="css-1ym8aqm e16adls20">제목</div>
                        <div width="100" class="css-16tcewl e16adls20">작성일</div>
                    </div>
                    <ul class="css-1fttcpj e1cfowvj5">
                        <li><a href="/board/notice/detail/1692">
                                <div class="css-14yglsw e1cfowvj4">
                                    <div class="css-3o6rrk e1cfowvj2">1</div>
                                    <div class="css-3d2kks e1cfowvj2">리뷰</div>
                                    <div class="css-fzefrb e1cfowvj2">리뷰 내용이 너무 홍보성 가득함</div>
                                    <div class="css-b1hszl e1cfowvj2">2022.12.20</div>
                                </div>
                            </a></li>
                            <li><a href="/board/notice/detail/1692">
                                <div class="css-14yglsw e1cfowvj4">
                                    <div class="css-3o6rrk e1cfowvj2">2</div>
                                    <div class="css-3d2kks e1cfowvj2">리뷰</div>
                                    <div class="css-fzefrb e1cfowvj2">허위사실이 포함되어서 불쾌합니다</div>
                                    <div class="css-b1hszl e1cfowvj2">2022.12.20</div>
                                </div>
                            </a></li>
                            <li><a href="/board/notice/detail/1692">
                                <div class="css-14yglsw e1cfowvj4">
                                    <div class="css-3o6rrk e1cfowvj2">3</div>
                                    <div class="css-3d2kks e1cfowvj2">댓글</div>
                                    <div class="css-fzefrb e1cfowvj2">보기 거북함</div>
                                    <div class="css-b1hszl e1cfowvj2">2022.12.20</div>
                                </div>
                            </a></li>
                            <li><a href="/board/notice/detail/1692">
                                <div class="css-14yglsw e1cfowvj4">
                                    <div class="css-3o6rrk e1cfowvj2">4</div>
                                    <div class="css-3d2kks e1cfowvj2">댓글</div>
                                    <div class="css-fzefrb e1cfowvj2">광고 매우 불쾌합니다</div>
                                    <div class="css-b1hszl e1cfowvj2">2022.12.20</div>
                                </div>
                            </a></li>
                            <li><a href="/board/notice/detail/1692">
                                <div class="css-14yglsw e1cfowvj4">
                                    <div class="css-3o6rrk e1cfowvj2">5</div>
                                    <div class="css-3d2kks e1cfowvj2">리뷰</div>
                                    <div class="css-fzefrb e1cfowvj2">리뷰 내용이 너무 홍보성 가득함</div>
                                    <div class="css-b1hszl e1cfowvj2">2022.12.20</div>
                                </div>
                            </a></li>
                            <li><a href="/board/notice/detail/1692">
                                <div class="css-14yglsw e1cfowvj4">
                                    <div class="css-3o6rrk e1cfowvj2">6</div>
                                    <div class="css-3d2kks e1cfowvj2">리뷰</div>
                                    <div class="css-fzefrb e1cfowvj2">허위사실이 포함되어서 불쾌합니다</div>
                                    <div class="css-b1hszl e1cfowvj2">2022.12.20</div>
                                </div>
                            </a></li>
                            <li><a href="/board/notice/detail/1692">
                                <div class="css-14yglsw e1cfowvj4">
                                    <div class="css-3o6rrk e1cfowvj2">7</div>
                                    <div class="css-3d2kks e1cfowvj2">댓글</div>
                                    <div class="css-fzefrb e1cfowvj2">보기 거북함</div>
                                    <div class="css-b1hszl e1cfowvj2">2022.12.20</div>
                                </div>
                            </a></li>
                            <li><a href="/board/notice/detail/1692">
                                <div class="css-14yglsw e1cfowvj4">
                                    <div class="css-3o6rrk e1cfowvj2">8</div>
                                    <div class="css-3d2kks e1cfowvj2">댓글</div>
                                    <div class="css-fzefrb e1cfowvj2">광고 불쾌합니다</div>
                                    <div class="css-b1hszl e1cfowvj2">2022.12.20</div>
                                </div>
                            </a></li>
                        
                    </ul>
                    <div class="css-1kbzkwh e14yho7m0">
                        <div class="css-sxxs1g eytury60"><button type="button" class="css-rzcdhr e1hbwyso0" disabled="">
                                <div class="css-7qb0sc e1ilyb3p0">이전</div>
                            </button><button type="button" class="css-1jwilit e1pk9060">
                                <div class="css-7qb0sc e1ilyb3p0">다음</div>
                            </button></div>
                    </div>
                </div>
            </div>
           
        </div>
      </div>
      <div th:replace="fragment/footer :: footer"/>
    </div>
  </body>
<script src="/js/notice.js"></script>
</html>
