<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>즐거운 미식 생활의 시작, 캐치테이블</title>
    <div th:replace="fragment/link :: link"/>
    <link rel="stylesheet" href="/css/collection_detail.css" />
    <link rel="stylesheet" href="/css/notice.css">
  </head>
  <style>
    .headerCategory {
      padding: 6px 0;
    }
  </style>
  <body class="disable-user-select">
  <!-- header 시작 -->
  <header id="header1">
    ㅎㄷㅎㄷ
  </header>
  <!-- header 끝 -->
    <div id="root">
      <div class="wrapper">
        <div class="css-2b29tl eug5r8l2">
            <div class="css-luwwab eug5r8l1">
              <div class="css-833hqy ecbxmj4">
                <div class="css-1v4whg ecbxmj3">약관 및 정책</div>

                <!-- aside 시작 -->
                <div th:replace="fragment/notice_aside :: notice_aside"/>
                <!-- aside 끝 -->
            </div>
                
                <div class="css-171zbec eug5r8l0">
                   
                    <div
                  >
                    <div
                      class="MuiBackdrop-root"
                      aria-hidden="true"
                      style="
                        opacity: 1;
                        transition: opacity 225ms cubic-beizer(0.4, 0, 0.2, 1) 0ms;
                      "
                    ></div>
                    <div tabindex="0" data-test="sentinelStart"></div>
                    <div
                      class="MuiDialog-container MuiDialog-scrollPaper"
                      role="none presentation"
                      tabindex="-1"
                      style="
                        opacity: 1;
                        transition: opac 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                      "
                    >
                      <div
                        class="MuiPaper-root MuiDialog-paper MuiDialog-paperScrollPaper MuiDialog-paperWidthSm MuiDialog-paperFullScreen MuiDialog-elevation24 MuiDialog-rounded"
                      >
                        <div style=" height: 100%">
                          <div class="wrapper">
                            <header id="header" class="opaque">
                              <div class="container">
                                <div class="header-left">

                                  <h1 class="page-title">위치 정보 이용 약관</h1>
                                </div>
                              </div>
                            </header>
                            <main id="main">
                              <div class="pt-10">
                                <iframe
                                  src="https://dau2wmhjxkxtx.cloudfront.net/web-static/static_webapp_v2/html/PolicyLocation_20221027.html"
                                  id="iframe"
                                  style="width: 100%; height: 708px" >
                                </iframe>
                              </div>
                            </main>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div tabindex="0" data-test="sentinelEnd"></div>
                  </div>
                </div>
            </div>
           
        </div>
      </div>
      <!-- footer 시작 -->
      <div th:replace="fragment/footer :: footer"/>
      <!-- footer 끝 -->
    </div>
  </body>
  <script src="/js/notice.js"></script>
</html>
