<main id="main" th:fragment="comment">
    <article class="timeline-post-item" id="timeline-posts">
        <div class="__comments">
            <div class="container gutter-sm">
                <div class="__comment-list __comment-detail-list">
                    <div>
                        <article class="__comment-item ">
                            <div class="__user-info"><a class="profile">
                                <div class="profile-pic "><img
                                        src="https://catchtable.co.kr/web-static/static_webapp_v2/img/noimg/profile_default_v2.png"
                                        alt="" class="img"
                                        style="background: url(&quot;data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7&quot;) center center no-repeat transparent;">
                                </div>
                                <h4 class="name username"><span class="txt">예율</span></h4></a><span class="__date">2022년 09월 09일</span>
                            </div>
                            <div class="__content"><p>예약 어떻게 성공 하셨나요 ,,, ㅠㅠ </p></div>
                            <div class="__post-meta"><span class="__like">0</span><a class="__comment">답글 달기</a><a
                                    class="__more">MORE</a></div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <form class="__comment-form">
        <div class="__box"><input type="text" placeholder="리뷰에 따뜻한 댓글을 달아주세요." name="content" id="registReplyInput"
                                  value="sdf" style="font-family: auto; min-width: 150px;">
            <button type="submit">등록</button>
        </div>
    </form>
</main>

