<body th:fragment="footer">
    <footer id="footer">
        <div class="container gutter-sm">
            <h4><strong>(주)와드</strong></h4>
            <p>대표 : <strong>용태순</strong></p>
            <p>주소 : <strong>경기도 성남시 분당구 성남대로331번길 8, 킨스타워 1600호</strong></p>
            <p>사업자등록번호 : <strong>614-88-00597</strong></p>
            <p>통신판매업 신고번호 : <strong>2017-성남분당-0933호</strong></p>
            <p>개인정보담당 : <strong>service@catchtable.co.kr</strong></p>
            <div class="footer-menu"><a href="/support/tmp1" style="font-weight: 600;">서비스 이용약관</a><span
                    class="split">|</span><a href="/support/tmp2" style="font-weight: 600;">개인정보 처리방침</a><span
                    class="split">|</span><a href="/support/tmp3" style="font-weight: 600;">위치정보 이용약관</a><span
                    class="split">|</span><a href="https://catchtable.career.greetinghr.com/" target="_blank" style="font-weight: 600;">인재 채용</a><span class="split">|</span><a
                    href="/pending" target="_blank" style="font-weight: 600;">입점 문의</a></div>
        </div>
</footer>
</body>
