<head th:fragment="link">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="shortcut icon" href="https://dau2wmhjxkxtx.cloudfront.net/web-static/static_webapp/img/app/favicon.ico">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto|Noto+Sans+KR:300,400,500,700&amp;display=block&amp;subset=korean"
          as="style" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/header.css">
    <script src="https://kit.fontawesome.com/495cfd393e.js" crossorigin="anonymous"></script>
    <script defer src="/js/header.js"></script>
</head>