
        <ul th:fragment="notice_aside" class="css-1x9bshx ecbxmj2">
          <li class="css-0 ecbxmj1"><a class=" css-pi3u6r ecbxmj0" href="notice.html">공지사항<span class="css-e41glx e1x0rfoo0"></span></a></li>
          <li class="css-0 ecbxmj1"><a class=" css-pi3u6r ecbxmj0" href="contact1.html">1:1 문의<span class="css-e41glx e1x0rfoo0"></span></a></li>
          <li class="css-0 ecbxmj1"><a class=" css-pi3u6r ecbxmj0" href="improve1.html">개선 제안<span class="css-e41glx e1x0rfoo0"></span></a></li>
          <li class="css-0 ecbxmj1"><a class=" css-pi3u6r ecbxmj0" href="reportReview.html">신고 내역<span class="css-e41glx e1x0rfoo0"></span></a></li>

            <li class="css-0 ecbxmj1"><a class=" css-pi3u6r ecbxmj0" onclick="test()">약관 및 정책<span class="css-e41glx e1x0rfoo0"></span></a></li>
            <div class="display" style="display: none;">
              <li class="css-0 ecbxmj1"><a class=" css-pi3u6r ecbxmj0" href="termOfService1.html">이용약관</a></li>
              <li class="css-0 ecbxmj1"><a class=" css-pi3u6r ecbxmj0" href="termOfService2.html">개인정보 처리방침</a></li>
              <li class="css-0 ecbxmj1"><a class=" css-pi3u6r ecbxmj0" href="termOfService3.html">위치정보 이용약관</a></li>
            </div>
        </ul>

