
<ul th:fragment="notice_aside" class="css-1x9bshx ecbxmj2" id="hz">
  <li class="css-0 ecbxmj1"><a class=" css-pi3u6r ecbxmj0" th:href="@{'/notice'}">공지사항<span class="css-e41glx e1x0rfoo0"></span></a></li>
  <li class="css-0 ecbxmj1"><a class=" css-pi3u6r ecbxmj0" th:href="@{'/support/contact'}">1:1 문의<span class="css-e41glx e1x0rfoo0"></span></a></li>
  <li class="css-0 ecbxmj1"><a class=" css-pi3u6r ecbxmj0" th:href="@{'/support/improve'}">개선 제안<span class="css-e41glx e1x0rfoo0"></span></a></li>
  <li class="css-0 ecbxmj1"><a class=" css-pi3u6r ecbxmj0" th:href="@{'/report/review/list'}">리뷰신고 내역<span class="css-e41glx e1x0rfoo0"></span></a></li>
  <li class="css-0 ecbxmj1"><a class=" css-pi3u6r ecbxmj0" th:href="@{'/report/comment/list'}">댓글신고 내역<span class="css-e41glx e1x0rfoo0"></span></a></li>

  <li class="css-0 ecbxmj1"><a class=" css-pi3u6r ecbxmj0"  onclick="homzzang()">약관 및 정책<span class="css-e41glx e1x0rfoo0"></span></a></li>
  <div class="display remove">
    <li class="css-0 ecbxmj1"><a class=" css-pi3u6r ecbxmj0" th:href="@{'/support/tmp1'}">이용약관</a></li>
    <li class="css-0 ecbxmj1"><a class=" css-pi3u6r ecbxmj0" th:href="@{'/support/tmp2'}">개인정보 처리방침</a></li>
    <li class="css-0 ecbxmj1"><a class=" css-pi3u6r ecbxmj0" th:href="@{'/support/tmp3'}">위치정보 이용약관</a></li>
  </div>
</ul>

