<ul class="css-1x9bshx ecbxmj2" th:fragment="timeline-aside">
  <li class="css-0 ecbxmj1">
    <a class="css-pi3u6r ecbxmj0" href="/timeline">전체 피드<span
            class="css-e41glx e1x0rfoo0"></span
    ></a>
  </li>
  <li class="css-0 ecbxmj1">
    <a class="css-pi3u6r ecbxmj0" th:href="'/timeline/profile/'+${timeLineIdx}">프로필<span
            class="css-e41glx e1x0rfoo0"></span
    ></a>
  </li>
  <li class="css-0 ecbxmj1">
    <a class="css-pi3u6r ecbxmj0" th:href="'/timeline/collection/'+${timeLineIdx}">컬렉션 보기<span
            class="css-e41glx e1x0rfoo0"></span
    ></a>
  </li>
  <li class="css-0 ecbxmj1">
    <a class="css-pi3u6r ecbxmj0" th:href="'/timeline/review/' +${timeLineIdx}">리뷰 보기<span
            class="css-e41glx e1x0rfoo0"></span
    ></a>
  </li>
  <li class="css-0 ecbxmj1">
    <a class="css-pi3u6r ecbxmj0" th:href="'/timeline/following/' +${timeLineIdx}">팔로잉 리스트<span
            class="css-e41glx e1x0rfoo0"></span
    ></a>
  </li>
  <li class="css-0 ecbxmj1">
    <a class="css-pi3u6r ecbxmj0" th:href="'/timeline/follower/' +${timeLineIdx}">팔로워 리스트<span
            class="css-e41glx e1x0rfoo0"></span
    ></a>
  </li>
</ul>