<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/mypage.css"/>
  </head>
  <body class="disable-user-select">
    <div style="display: none">
      <a href="https://app.catchtable.co.kr/ct/search">레스토랑 예약</a>
      <a href="https://app.catchtable.co.kr"></a>
      <a href="https://app.catchtable.co.kr"></a>
    </div>
    <div></div>
    <div id="root">
      <div class="wrapper">
        <header id="header" class="opaque">
          <div class="container">
            <div class="header-left">
              <h1 class="page-title">마이페이지</h1>
              <div class="header-right">
                <button class="btn-icon setting">세팅</button>
              </div>
            </div>
          </div>
        </header>
        <main id="main">
          <section class="section pt-24">
            <div class="container gutter-sm">
              <div class="mypage-profile">
                <div class="profile-pic">
                  <div
                    class="img"
                    style="
                      background-image: url('https://dau2wmhjxkxtx.cloudfront.net/web-static/static_webapp_v2/img/noimg/profile_default_v2.png');
                    "
                  ></div>
                </div>
                <div class="mypage-profile-meta">
                  <h4 class="name username" style="margin-bottom: 3px">
                    이혁제
                  </h4>
                  <div class="meta" style="height: 14.8px; margin-top: 3px">
                    <dl>
                      <dt>팔로잉</dt>
                      <dd style="margin-left: 1px">1</dd>
                    </dl>
                    <span>|</span>
                    <dl>
                      <dt>팔로워</dt>
                      <d style="margin-left: 1px">0</d>
                    </dl>
                  </div>
                  <div class="social"></div>
                </div>
              </div>
              <div class="mypage-profile--desc" style="display: block">
                <div class="__desc">
                  <p id="introduce_p" class="expand"></p>
                </div>
                <button
                  class="btn btn-md btn-outline btn-rounded full-width mt-18"
                >
                  <span
                    class="label"
                    style="
                      background-color: white;
                      border: 1px solid #d5d5d5;
                      border-radius: 20px;
                    "
                    >프로필 수정</span
                  >
                </button>
              </div>
            </div>
          </section>
          <hr class="separator mt-28" style="border: none" />
          <section class="section section-overflow-hidden">
            <div class="profile-summary"></div>
          </section>
          <div class="tab-menu mb-10 sticky">
            <ul>
              <li class="active">
                <a>
                  <span>
                    나의 저장
                    <small class="count">11</small>
                  </span>
                </a>
              </li>
              <li>
                <a>
                  <span>
                    리뷰
                    <small class="count">0</small>
                  </span>
                </a>
              </li>
            </ul>
          </div>
          <div id="collection">
            <section class="section pt-20 section-overflow-hidden">
              <div class="container gutter-sm">
                <div
                  class="section-header mb-15 __d-flex"
                  style="justify-content: space-between"
                >
                  <h3 class="section-title font-16">
                    컬렉션
                    <span class="count">1</span>
                  </h3>
                  <div class="__d-flex __v-center font-12">
                    전체보기
                    <img
                      src="https://dau2wmhjxkxtx.cloudfront.net/web-static/static_webapp_v2/img/icons/arrow-right-20.svg"
                      alt
                      style="margin-left: 4px; width: 16px; height: 16px"
                    />
                  </div>
                </div>
                <div class="collection-slides-sm">
                  <div class="v-scroll section-body">
                    <div class="v-scroll-inner">
                      <div>
                        <div class="collection-slides-sm">
                          <div class="collection-list-item-sm">
                            <a>
                              <div class="collection-list-item-in">
                                <div class="imgs">
                                  <div
                                    class="img"
                                    style="
                                      background-image: url('https://image.toast.com/aaaaaqx/catchtable/shopinfo/s20676/20676_2161013243969631_thumbMenuImage.jpg');
                                    "
                                  ></div>
                                </div>
                                <div class="__meta">
                                  <h4 class="__title">
                                    <strong>나</strong>의 컬렉션
                                  </h4>
                                  <div class="__count" style="z-index: 999999">
                                    <button
                                      class="bookmark-button on"
                                      type="button"
                                      style="z-index: 999999"
                                    ></button>
                                    0
                                  </div>
                                </div>
                              </div>
                              <div class="collection__meta">
                                <h4 class="__title private">
                                  <!-- <div class="wrapper1">
                                    <input type="checkbox" id="switch" />
                                    <label for="switch" class="switch_label">
                                      <span class="onf_btn"></span>
                                    </label>
                                  </div> -->
                                  스시오마카세!
                                </h4>
                                <div class="__count">10</div>
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section class="section pt-20 section-overflow-hidden">
              <div class="container gutter-sm">
                <div class="__d-flex mb-24">
                  <div
                    class="section-header __d-flex __v-center"
                    style="justify-content: space-between; width: 100%"
                  >
                    <h3 class="section-title font-16">
                      저장한 레스토랑
                      <span class="count">10</span>
                    </h3>
                    <div class="__d-flex __v-center font-12">
                      전체보기
                      <img
                        src="https://dau2wmhjxkxtx.cloudfront.net/web-static/static_webapp_v2/img/icons/arrow-right-20.svg"
                        alt=""
                        style="margin-left: 4px; width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                </div>
                <div class="section-body pb-32" style="padding-top: 10px">
                  <div id="common_infinity_sc" class="saved-restaurant-list">
                    <div id="common_infinity_sc_0" data-dummy="221">
                      <div class="saved-restaurant-list-item">
                        <div class="restaurant-info">
                          <a href="#" class="tb">
                            <div
                              class="img"
                              style="background-image: url('../image/1.jpg')"
                            ></div>
                          </a>
                          <a href="#" class="detail">
                            <h4 class="name">스시대옥</h4>
                            <p class="excerpt">
                              가성비 최강, 당일 선별된 재료로 정성을 다하는
                              스시야
                            </p>
                            <div class="restaurant-meta">
                              <div class="rating" style="margin-bottom: 5px">
                                <span class="star"> 4.8 </span>
                                <span class="count">(438)</span>
                              </div>
                              <span class="tags">스시오마카세 울산</span>
                              <span class="price">점심 4만원 저녁 6.6만원</span>
                            </div>
                          </a>
                          <a href="#" class="btn-bookmark active">북마크</a>
                        </div>
                        <div class="restaurant-meta mb-30"></div>
                        <div class="form-control">
                          <input
                            type="text"
                            class="form-input"
                            placeholder="나만의 메모를 남겨보세요."
                          />
                        </div>
                        <div style="height: 40px">&nbsp;</div>
                      </div>
                    </div>
                    <div id="common_infinity_sc_1" data-dummy="221">
                      <div class="saved-restaurant-list-item">
                        <div class="restaurant-info">
                          <a href="#" class="tb">
                            <div
                              class="img"
                              style="background-image: url('../image/1.jpg')"
                            ></div>
                          </a>
                          <a href="#" class="detail">
                            <h4 class="name">스시대옥</h4>
                            <p class="excerpt">
                              가성비 최강, 당일 선별된 재료로 정성을 다하는
                              스시야
                            </p>
                            <div class="restaurant-meta">
                              <div class="rating" style="margin-bottom: 5px">
                                <span class="star"> 4.8 </span>
                                <span class="count">(438)</span>
                              </div>
                              <span class="tags">스시오마카세 울산</span>
                              <span class="price">점심 4만원 저녁 6.6만원</span>
                            </div>
                          </a>
                          <a href="#" class="btn-bookmark active">북마크</a>
                        </div>
                        <div class="restaurant-meta mb-30"></div>
                        <div class="form-control">
                          <input
                            type="text"
                            class="form-input"
                            placeholder="나만의 메모를 남겨보세요."
                          />
                        </div>
                        <div style="height: 40px">&nbsp;</div>
                      </div>
                    </div>
                    <div id="common_infinity_sc_3" data-dummy="221">
                      <div class="saved-restaurant-list-item">
                        <div class="restaurant-info">
                          <a href="#" class="tb">
                            <div
                              class="img"
                              style="background-image: url('../image/1.jpg')"
                            ></div>
                          </a>
                          <a href="#" class="detail">
                            <h4 class="name">스시대옥</h4>
                            <p class="excerpt">
                              가성비 최강, 당일 선별된 재료로 정성을 다하는
                              스시야
                            </p>
                            <div class="restaurant-meta">
                              <div class="rating" style="margin-bottom: 5px">
                                <span class="star"> 4.8 </span>
                                <span class="count">(438)</span>
                              </div>
                              <span class="tags">스시오마카세 울산</span>
                              <span class="price">점심 4만원 저녁 6.6만원</span>
                            </div>
                          </a>
                          <a href="#" class="btn-bookmark active">북마크</a>
                        </div>
                        <div class="restaurant-meta mb-30"></div>
                        <div class="form-control">
                          <input
                            type="text"
                            class="form-input"
                            placeholder="나만의 메모를 남겨보세요."
                          />
                        </div>
                        <div style="height: 40px">&nbsp;</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <aside id="dock">
              <div class="dock-container">
                <nav class="dock-menu">
                  <a href="#" class>
                    <i class="home">홈</i>
                  </a>
                  <a href="#" class>
                    <i class="search">검색</i>
                  </a>
                  <a href="#" id="__guide_icon1">
                    <i href="#" class="review">리뷰</i>
                  </a>
                  <a href="#" class>
                    <i class="mydining">마이다이닝</i>
                    <span class="alarm" style="visibility: hidden"
                      >작성가능한 리뷰 0 건</span
                    >
                  </a>
                  <a href="#" class="active">
                    <i class="account"></i>
                    <span>내 계정</span>
                  </a>
                </nav>
              </div>
            </aside>
          </div>
        </main>
      </div>
      <aside id="dock">
        <div class="dock-container">
          <nav class="dock-menu">
            <a href="#" class>
              <i class="home">홈</i>
            </a>
            <a href="#" class>
              <i class="search">검색</i>
            </a>
            <a href="#" id="__guide_icon1">
              <i href="#" class="review">리뷰</i>
            </a>
            <a href="#" class>
              <i class="mydining">마이다이닝</i>
              <span class="alarm" style="visibility: hidden"
                >작성가능한 리뷰 0 건</span
              >
            </a>
            <a href="#" class="active">
              <i class="account"></i>
              <span>내 계정</span>
            </a>
          </nav>
        </div>
      </aside>
    </div>
  </body>
</html>
