<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>즐거운 미식 생활의 시작, 캐치테이블</title>
    <div th:replace="fragment/link :: link"/>
    <link rel="stylesheet" href="/css/collection_detail.css">
    <link rel="stylesheet" href="/css/login_tel.css">
    <link rel="stylesheet" href="/images/kakao_button.svg">
    <link rel="stylesheet" href="/images/kakao_button_gainsboro.svg">
</head>
<body>
<div id="root">
    <!--header 시작-->
    <header id="header">
        ㅎㄷㅎㄷ
    </header>
    <!--header 끝-->
    <div class="wrapper">
        <main id="main">
            <form method="post" role="form" id="frm" onsubmit="return modOk2()" action="/resetPassword">
                <section class="signin-wrapper" style="height: auto;">
                    <div class="__inner">
                        <div class="css-o5dw7d">
                            비밀번호 재설정
                        </div>
                        <input type="hidden" id="prHp" name="prHp" th:value="${prHp}">
                        <div class="input-control mb-30">
                            <input type="password" class="form-input form-input-underline" id="prUserpw" name="prUserpw"
                                   placeholder="새 비밀번호를 입력하세요" autocomplete="off" value="">
                        </div>
                        <div class="input-control mb-30">
                            <input type="password" id="passwordConfirm" name="passwordConfirm" class="form-input form-input-underline"
                                   placeholder="새 비밀번호를 확인하세요" autocomplete="off" value="">
                            <button type="button" class="hide-password ">패스워드보이기</button>
                        </div>
<!--                        <div id="signin-extra-block">-->
<!--                            <div class="signin-extra mt-35 mb-35">-->
<!--                                <a href="#" class="color-gray underline">회원가입</a>-->
<!--                            </div>-->
<!--                            <div class="signin-extra mt-35 mb-35">-->
<!--                                <a href="#" class="color-gray underline">비밀번호 찾기</a>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </section>
                <div class="sticky-bottom-btns pb-68 display-none-with-aos-keyboard login-btn">
                    <button type="submit" class="btn btn-lg btn-red full-width login-btn">
                        <strong class="bold">비밀번호 변경</strong>
                    </button>
                </div>
            </form>
            <!--            <div class="sticky-bottom-btns pb-68 display-none-with-aos-keyboard kakao-btn">-->
            <!--                <button id="kakao-btn" class="btn btn-lg btn-yellow full-width kakao-btn">-->
            <!--                    <strong class="bold kakao-btn"><img id="kakao-balloon"-->
            <!--                                                        src="https://catchtable.co.kr/web-static/static_webapp_v2/img/login/kakao_button.svg"-->
            <!--                                                        alt="">카카오로 시작하기</strong>-->
            <!--                </button>-->
            <!--            </div>-->
        </main>
    </div>
    <!-- footer 시작 -->
    <div th:replace="fragment/footer :: footer"/>
    <!-- footer 끝 -->
</div>
<script src="/js/modPw.js"></script>
</body>

</html>











