<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/filter.css">
</head>
<body>
    <div class="MuiPaper-root jss5 MuiDrawer-paper MuiDrawer-paperAnchorBottom MuiPaper-elevation0" tabindex="-1" style="transform: none; transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;">
        <div id="root" style="height: 959px; overflow: hidden; position: relative;">
            <div class="wrapper" style="box-shadow: none;">
                <header id="header" class="opaque" style="z-index: 0;">
                    <div class="container">
                        <div class="header-left">
                            <h1 class="page-title">필터</h1>
                        </div>
                        <div class="header-right"><button class="btn-reset" style="cursor: pointer;">초기화</button></div>
                    </div>
                </header>
                <main id="main">
                    <section class="section pt-30">
                        <div class="container gutter-sm">
                            <div class="detailed-filter-list">
                                <a href="#">
                                    <i class="area"></i>
                                    <div class="__label"><span class="name">지역</span><span class="value">미선택</span></div>
                                </a>
                                <a href="#">
                                    <i class="food"></i>
                                    <div class="__label"><span class="name">음식 종류</span><span class="value">미선택</span></div>
                                </a>
                                <a href="#">
                                    <i class="price"></i>
                                    <div class="__label"><span class="name">1인당 가격</span><span class="value">전체</span></div>
                                </a>
                                <a href="#">
                                    <i class="mood"></i>
                                    <div class="__label"><span class="name">분위기</span><span class="value">미선택</span></div>
                                </a>
                                <a href="#">
                                    <i class="facility"></i>
                                    <div class="__label"><span class="name">편의시설</span><span class="value">미선택</span></div>
                                </a>
                                <a href="#">
                                    <i class="seat"></i>
                                    <div class="__label"><span class="name">테이블 타입</span><span class="value">전체</span></div>
                                </a>
                            </div>
                        </div>
                    </section>
                    <hr class="space-40">
                </main>
                <div class="sticky-bottom-btns" style="z-index: 0;">
                    <button class="btn btn-lg btn-outline w-104">닫기</button>
                    <button class="btn btn-lg btn-red">적용</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>