<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/filterlocation.css">
</head>
<body>
    <div id="root">
        <div class="wrapper" style="box-shadow: none;">
            <header id="header" class="opaque line">
                <div class="container">
                    <div class="header-left">
                        <h1 class="page-title">지역</h1>
                    </div>
                    <div class="header-right"><button class="btn-reset">초기화</button></div>
                </div>
            </header>
            <main id="main" class="fullpage">
                <section class="filter-area">
                    <div class="__cat1">
                        <ul>
                            <li class=""><a style="width: 159px;">서울</a></li>
                            <li class=""><a style="width: 159px;">인천</a></li>
                            <li class=""><a style="width: 159px;">경기</a></li>
                            <li class=""><a style="width: 159px;">제주</a></li>
                            <li class=""><a style="width: 159px;">부산</a></li>
                            <li class=""><a style="width: 159px;">울산</a></li>
                            <li class="active"><a style="width: 159px;">경남</a></li>
                            <li class=""><a style="width: 159px;">대구</a></li>
                            <li class=""><a style="width: 159px;">경북</a></li>
                            <li class=""><a style="width: 159px;">강원</a></li>
                            <li class=""><a style="width: 159px;">대전</a></li>
                            <li class=""><a style="width: 159px;">충남</a></li>
                            <li class=""><a style="width: 159px;">충북</a></li>
                            <li class=""><a style="width: 159px;">세종</a></li>
                            <li class=""><a style="width: 159px;">광주</a></li>
                            <li class=""><a style="width: 159px;">전남</a></li>
                            <li class=""><a style="width: 159px;">전북</a></li>
                        </ul>
                    </div>
                    <div class="__cat2">
                        <div class="areas ">
                            <ul>
                                <li><label><input type="checkbox"><span><strong>서울 전체</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>강남구</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>서초구</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>송파구/강동구</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>종로구/성북구</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>중구</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>용산구</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>마포구</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>서대문구/은평구</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>성동구/광진구</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>영등포구/구로구</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>동작구/관악구/금천구</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>강서구/양천구</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>노원구/도봉구/강북구</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>동대문구/중랑구</strong></span></label></li>
                            </ul>
                        </div>
                        <div class="areas ">
                            <ul>
                                <li><label><input type="checkbox"><span><strong>인천 전체</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>연수구(송도)/남동구</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>부평구/계양구</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>중구/서구(청라)</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>미추홀구,동구</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>강화/옹진</strong></span></label></li>
                            </ul>
                        </div>
                        <div class="areas ">
                            <ul>
                                <li><label><input type="checkbox"><span><strong>경기 전체</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>성남시(분당/판교/성남)</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>수원</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>용인/화성(동탄)</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>안양/과천</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>군포/의왕</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>부천/안산/시흥/광명</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>평택/오산/안성</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>고양/파주</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>김포</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>가평/양평</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>광주/이천/여주</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>남양주/의정부</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>하남/구리</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>포천/양주/동두천/연천</strong></span></label></li>
                            </ul>
                        </div>
                        <div class="areas ">
                            <ul>
                                <li><label><input type="checkbox"><span><strong>제주 전체</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>제주</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>서귀포</strong></span></label></li>
                            </ul>
                        </div>
                        <div class="areas ">
                            <ul>
                                <li><label><input type="checkbox"><span><strong>부산 전체</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>해운대구/기장</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>수영구/남구</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>부산진구(서면)/동구</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>중구/서구/영도구</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>연제구/동래구/금정구</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>북구/사상구</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>강서구/사하구</strong></span></label></li>
                            </ul>
                        </div>
                        <div class="areas ">
                            <ul>
                                <li><label><input type="checkbox"><span><strong>울산 전체</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>남구/중구</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>동구/북구/울주군</strong></span></label></li>
                            </ul>
                        </div>
                        <div class="areas active">
                            <ul>
                                <li><label><input type="checkbox"><span><strong>경남 전체</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>창원</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>김해/양산/밀양</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>거제/통영/고성</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>진주/사천/남해/하동</strong></span></label></li>
                            </ul>
                        </div>
                        <div class="areas ">
                            <ul>
                                <li><label><input type="checkbox"><span><strong>대구 전체</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>중구/동구</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>수성구/남구</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>북구/서구</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>달서구/달성군</strong></span></label></li>
                            </ul>
                        </div>
                        <div class="areas ">
                            <ul>
                                <li><label><input type="checkbox"><span><strong>경북 전체</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>포항/경주</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>경산/영천/청도</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>김천/구미/성주/칠곡/고령</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>안동/문경/영주/예천/봉화</strong></span></label></li>
                            </ul>
                        </div>
                        <div class="areas ">
                            <ul>
                                <li><label><input type="checkbox"><span><strong>강원 전체</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>강릉/동해/삼척</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>속초/양양/고성/인제</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>원주/횡성</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>춘천/철원/화천/양구/홍천</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>태백/영월/평창/정선</strong></span></label></li>
                            </ul>
                        </div>
                        <div class="areas ">
                            <ul>
                                <li><label><input type="checkbox"><span><strong>대전 전체</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>유성구</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>동구/대덕구</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>서구/중구</strong></span></label></li>
                            </ul>
                        </div>
                        <div class="areas ">
                            <ul>
                                <li><label><input type="checkbox"><span><strong>충남 전체</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>천안/아산</strong></span></label></li>
                            </ul>
                        </div>
                        <div class="areas ">
                            <ul>
                                <li><label><input type="checkbox"><span><strong>충북 전체</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>청주</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>충주</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>제천/진천/음성/단양</strong></span></label></li>
                            </ul>
                        </div>
                        <div class="areas ">
                            <ul>
                                <li><label><input type="checkbox"><span><strong>세종 전체</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>세종</strong></span></label></li>
                            </ul>
                        </div>
                        <div class="areas ">
                            <ul>
                                <li><label><input type="checkbox"><span><strong>광주 전체</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>서구</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>광산구</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>동구/남구</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>북구</strong></span></label></li>
                            </ul>
                        </div>
                        <div class="areas ">
                            <ul>
                                <li><label><input type="checkbox"><span><strong>전남 전체</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>여수/순천/광양</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>목포/영암/무안/신안</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>담양/곡성/구례/화순</strong></span></label></li>
                            </ul>
                        </div>
                        <div class="areas ">
                            <ul>
                                <li><label><input type="checkbox"><span><strong>전북 전체</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>전주/완주</strong></span></label></li>
                                <li><label><input type="checkbox"><span><strong>군산/익산</strong></span></label></li>
                            </ul>
                        </div>
                    </div>
                </section>
            </main>
            <div class="sticky-bottom-btns"><button class="btn btn-lg btn-outline w-104">이전</button><button
                    class="btn btn-lg btn-red">적용</button></div>
        </div>
    </div>
</body>
</html>