<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>즐거운 미식 생활의 시작, 캐치테이블</title>
    <div th:replace="fragment/link :: link"/>
    <link rel="stylesheet" href="/css/mypage.css">
    <link rel="stylesheet" href="/css/collection_detail.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div id="root">
    <header id="header">
        ㅎㄷㅎㄷ
    </header>
    <div th:replace="fragment/others_header :: others_header"/>
    <div class="css-luwwab eug5r8l1">
        <div class="css-833hqy ecbxmj4">
            <div class="css-1v4whg ecbxmj3">프로필</div>
            <ul class="css-1x9bshx ecbxmj2">
                <li class="css-0 ecbxmj1">
                    <a class="css-pi3u6r ecbxmj0" href="/profile.html">프로필<span class="css-e41glx e1x0rfoo0"></span
                    ></a>
                </li>
                <li class="css-0 ecbxmj1">
                    <a class="css-pi3u6r ecbxmj0" href="/profile-collection.html">컬렉션 보기<span
                            class="css-e41glx e1x0rfoo0"></span
                    ></a>
                </li>
                <li class="css-0 ecbxmj1">
                    <a class="css-pi3u6r ecbxmj0" href="/profile-review.html">리뷰 보기<span
                            class="css-e41glx e1x0rfoo0"></span
                    ></a>
                </li>
            </ul>
            <!-- <a href="/mypage/inquiry/list" class="css-17gln34 e19l01ug3"><div class="css-1niy3no e19l01ug2">
                <span class="css-1sdidca e19l01ug1">도움이 필요하신가요 ?</span>
                <span class="css-rnnx2x e19l01ug0">1:1 문의하기</span>
              </div>
              <span class="css-1wkaywz e1x0rfoo0"></span
            ></a> -->
        </div>
        <div class="css-171zbec eug5r8l0">
            <div class="css-j0lifa ed9qr673">
                <div class="css-fhxb3m ed9qr672">
                    <h2 class="css-1268zpe ed9qr671">리뷰 보기</h2>
                </div>
            </div>

            <main id="main">
                <div class="wrapper" id="profileReviewListScroll">
                    <main id="main">
                        <div id="review">
                            <section class="section section-overflow-hidden">
                                <div class="container gutter-sm">
                                    <div class="section-header pt-20 pb-20 mb-0">
                                        <h4 class="font-16">
                                            <strong class="ebold">준숑이</strong> 님의 리뷰
                                            <span style="font-size: 16px; color: rgb(153, 153, 153); margin-left: 4px;">1개</span>
                                        </h4>
                                    </div>
                                    <hr class="hairline full-width">
                                    <div class="__my-review-list ml--20 mr--20">
                                        <div id="profileList">
                                            <div id="profileList_0" data-dummy="743">
                                                <div>
                                                    <article class="__my-review-post" style="border-top: none;">
                                                        <div class="__header">
                                                            <div class="">
                                                                <div class="__restaurant-info"><img
                                                                        src="https://image.toast.com/aaaaaqx/catchtable/shopinfo/s16403/16403_2042121540268143_thumbMenuImage.jpg?small220"
                                                                        alt="" class="__img">
                                                                    <div class="__info">
                                                                        <h4 class="__name">올라 여의도 파크센터점</h4>
                                                                        <div class="__meta">이탈리아음식 • 여의도</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="__body" style="padding: 0px 16px;">
                                                            <div class="timeline-post-content">
                                                                <div class="__post-meta">
                                                                    <div class="__review-meta __review-meta--with-rating"
                                                                         style="width: 100%;">
                                                                        <div class="__d-flex __v-center"
                                                                             style="justify-content: space-between;"><a
                                                                                href="#" class="__rating __active">4.3<i
                                                                                class="__arrow">
                                                                            <svg width="16" height="16"
                                                                                 viewBox="0 0 16 16" fill="none"
                                                                                 xmlns="http://www.w3.org/2000/svg">
                                                                                <path d="M4.94 5.72667L8 8.78L11.06 5.72667L12 6.66667L8 10.6667L4 6.66667L4.94 5.72667Z"
                                                                                      fill="black"></path>
                                                                            </svg>
                                                                        </i></a><span class="__date">12월 12일</span>
                                                                        </div>
                                                                        <!-- <div class="__rating-detail __d-flex">
                                                                            <div class="__item">맛 <span>4.0</span></div>
                                                                            <div class="__item">분위기 <span>4.5</span></div>
                                                                            <div class="__item">서비스 <span>4.5</span></div>
                                                                        </div> -->
                                                                    </div>
                                                                </div>
                                                                <h3 class="__title"></h3>
                                                                <div class="__content __open">
                                                                    <div id="__content0_1252042" class="no-picture">원하는
                                                                        요청대로 자리를 잡아주셔서 좋은 분위기에서
                                                                        식사를 할 수 있었습니다. 다만 디너A를 먹었는데 파스타가 조금 불은 채로 나와서
                                                                        아쉬웠습니다. 또한 처음에 빵이 나왔는데 썰어서
                                                                        주셨으면 좋겠습니다. 그 외에는 아주 좋았습니다.
                                                                    </div>
                                                                </div>
                                                                <a class="__toggle">전체보기</a>


                                                            </div>
                                                            <div class="__d-flex __v-center"
                                                                 style="justify-content: space-between;">
                                                                <div class="__post-meta mb-15 mt-15"><span
                                                                        class="__like">0</span><span
                                                                        class="__comment">0</span></div>
                                                                <div class="__review-meta"><a class="__more">MORE</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </main>
                </div>

            </main>

        </div>
    </div>
    <div replace="fragment/footer :: footer"/>
</div>
<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>
