<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>즐거운 미식 생활의 시작, 캐치테이블</title>
    <div th:replace="fragment/link :: link"/>
    <link rel="stylesheet" href="/css/mypage.css">
    <link rel="stylesheet" href="/css/collection_detail.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<style>
    .page_nation {
        display: flex;
        justify-content: center;
    }

    .page_nation a {
        display: block;
        margin: 0 3px;
        float: left;
        border: 1px solid #e6e6e6;
        width: 35px;
        height: 35px;
        line-height: 34px;
        text-align: center;
        background-color: #fff;
        font-size: 18px;
        color: #999999;
        text-decoration: none;
    }

    .page_nation a.page-prev {
        background: url("/images/icon.svg") no-repeat center center;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        margin-left: 7px;
        background-size: 10px;
    }

    .page_nation a.page-next {
        background: url("/images/icon.svg") no-repeat center center;
        margin-left: 7px;
        background-size: 10px;
    }

    .active {
        background-color: rgb(236 78 39) !important;
        color: #fff !important;
        border: 1px solid rgb(236 78 39) !important;
    }

    .page_nation a.page-disabled {
        pointer-events: none;
    }
</style>
<body>
<div id="root">
    <header id="header">
        ㅎㄷㅎㄷ
    </header>
    <!--    <div th:replace="fragment/timeline_header :: timeline_header"/>-->
    <div class="css-luwwab eug5r8l1">
        <div class="css-833hqy ecbxmj4">
            <div class="css-1v4whg ecbxmj3">리뷰</div>
            <div th:replace="fragment/timeline-aside :: timeline-aside"/>
        </div>
        <div class="css-171zbec eug5r8l0">
            <div class="css-j0lifa ed9qr673">
                <div class="css-fhxb3m ed9qr672">
                    <h2 class="css-1268zpe ed9qr671">[[${profile.prNick}]]님의 모든 리뷰 보기</h2>
                </div>
            </div>

            <main id="main">
                <div class="wrapper" id="profileReviewListScroll">
                    <main id="main">
                        <div id="review">
                            <section class="section section-overflow-hidden">
                                <div class="container gutter-sm">
                                    <div class="section-header pt-20 pb-20 mb-0">
                                        <h4 class="font-16">
                                            <strong class="ebold" th:text="${profile.prNick}">준숑이</strong> 님의 리뷰
                                            <span style="font-size: 16px; color: rgb(153, 153, 153); margin-left: 4px;">1개</span>
                                        </h4>
                                    </div>
                                    <hr class="hairline full-width">
                                    <div class="__my-review-list ml--20 mr--20">
                                        <div id="profileList">
                                            <div id="profileList_0" data-dummy="743">
                                                <div>
                                                    <article class="__my-review-post" style="border-top: none;"
                                                             th:each="review : ${reviews}">
                                                        <div class="__header">
                                                            <div class="">
                                                                <div class="__restaurant-info">
                                                                    <div class="__info">
                                                                        <h4 class="__name"
                                                                            th:text="${review.resAdminDto.resaBisName}">
                                                                            올라 여의도 파크센터점</h4>
                                                                        <div class="__meta"
                                                                             th:text="${review.resAdminDto.resaRegion}">
                                                                            이탈리아음식 • 여의도
                                                                        </div>
                                                                        <span class="__date">12월 12일</span>
                                                                    </div>
                                                                </div>
                                                                <div class="__post-meta">
                                                                    <div class="__review-meta __review-meta--with-rating"
                                                                         style="width: 100%;">
                                                                        <div class="__d-flex __v-center"
                                                                             style="justify-content: space-between;"><a
                                                                                href="#" class="__rating __active"
                                                                                th:text="${review.revScore}">4.3<i
                                                                                class="__arrow">
                                                                            <svg width="16" height="16"
                                                                                 viewBox="0 0 16 16" fill="none"
                                                                                 xmlns="http://www.w3.org/2000/svg">
                                                                                <path d="M4.94 5.72667L8 8.78L11.06 5.72667L12 6.66667L8 10.6667L4 6.66667L4.94 5.72667Z"
                                                                                      fill="black"></path>
                                                                            </svg>
                                                                        </i></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="__body" style="padding: 0px 16px;">
                                                            <div class="timeline-post-content">
                                                                <div id="shopReviewCardImgList_1272868"
                                                                     class="v-scroll">
                                                                    <div class="v-scroll-inner">
                                                                        <div id="shopReviewCardImgList_1272868"
                                                                             class="__photos"
                                                                             style="display: flex; flex-wrap: nowrap;">
                                                                            <th:block th:each="photo : ${review.photo}">
                                                                                <div class="swiper-slide"
                                                                                     style="margin-right: 8px;">
                                                                                    <img th:src="'/photo/'+${photo.savedNm}"
                                                                                         alt="">
                                                                                </div>
                                                                            </th:block>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <h3 class="__title"></h3>
                                                                <div class="__content __open">
                                                                    <div id="__content0_1252042" class="no-picture"
                                                                         th:text="${review.revContent}">원하는
                                                                        요청대로 자리를 잡아주셔서 좋은 분위기에서
                                                                        식사를 할 수 있었습니다. 다만 디너A를 먹었는데 파스타가 조금 불은 채로 나와서
                                                                        아쉬웠습니다. 또한 처음에 빵이 나왔는데 썰어서
                                                                        주셨으면 좋겠습니다. 그 외에는 아주 좋았습니다.
                                                                    </div>
                                                                </div>
                                                                <a class="__toggle">전체보기</a>


                                                            </div>
                                                            <div class="__d-flex __v-center"
                                                                 style="justify-content: space-between;">
                                                                <!--                                                                <div class="__post-meta mb-15 mt-15"><span-->
                                                                <!--                                                                        class="__like"-->
                                                                <!--                                                                        th:text="${reviews.heartNum}">0</span><span-->
                                                                <!--                                                                        class="__comment"-->
                                                                <!--                                                                        th:text="${reviews.commNum}">0</span></div>-->
                                                                <!--                                                                <div class="__review-meta"><a class="__more">MORE</a>-->
                                                                <!--                                                                </div>-->
                                                            </div>
                                                        </div>
                                                        <hr class="hairline full-width">
                                                    </article>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </main>
                </div>
                <!--페이징 처리-->
                <div class="page_wrap">
                    <div class="page_nation" aria-label="Page navigation example">
                        <a th:href="@{/timeline/review/(${timeLineIdx})(page=${reviews.number - 1})}"
                           th:class="'page-prev' + (${reviews.number} <= 0 ? ' page-disabled':'')"></a>
                        <span th:each="pageNumber : ${paginationBarNumbers}">
                        <a th:text="${pageNumber + 1}" th:href="@{/timeline(page=${pageNumber})}"
                           th:class="(${pageNumber} == ${reviews.number} ? 'active' : '')">1</a></span>
                        <a th:href="@{/timeline/review/(${timeLineIdx})(page=${reviews.number + 1})}" th:class="'page-next' +
                    (${reviews.number} >= ${reviews.totalPages - 1} ? '':' page-disabled')"></a>
                    </div>
                </div>
                <!--페이징 끝-->

            </main>

        </div>
    </div>
    <div replace="fragment/footer :: footer"/>
</div>
<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>
