<!-- 식당 메뉴 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>즐거운 미식 생활의 시작, 캐치테이블</title>
    <div th:replace="fragment/link :: link"/>
    <link rel="stylesheet" href="/css/st_menu.css">
</head>

<body>
<div id="root">
<!--header-->
<div th:replace="fragment/header :: header"/>
<!--/header-->
    <div class="wrapper">
        <main id="main">
            <div class="menu-content shadow">
                <div class="menu-header">
                    <h1 class="page-title">텍사스 데 브라질 센트럴시티점</h1>
                </div>
                <h3 class="menu">메뉴</h3>
                <hr class="menu-hr">
                <div class="menu-list">
                    <div class="menu-info">
                        <div class="menu-info-main">
                            <!-- <img class="menu-img" src="./image/example.jpg"> -->
                            <h4 class="menu-name"><strong>평일_런치</strong></h4>
                        </div>
                        <span class="price">53,000원</span>
                    </div>
                </div>
                <div class="menu-list">
                    <div class="menu-info">
                        <h4 class="menu-name"><strong>주말/공휴일_런치</strong></h4><span class="price">68,000원</span>
                    </div>
                 </div>
                    <div class="menu-list">
                        <div class="menu-info">
                               <h4 class="menu-name"><strong>평일/주말/공휴일_디너</strong></h4><span class="price">68,000원</span>
                        </div>
                    </div>
                    <div class="menu-list">
                        <div class="menu-info">
                               <h4 class="menu-name"><strong>평일/주말/공휴일_디너</strong></h4><span class="price">68,000원</span>
                        </div>
                    </div>
                    <div class="menu-list">
                        <div class="menu-info">
                               <h4 class="menu-name"><strong>평일/주말/공휴일_디너</strong></h4><span class="price">68,000원</span>
                        </div>
                    </div>

                    <div class="container gutter-sm pt-20 mb-30">
                        <p class="font-12 mb-6">* 메뉴와 가격은 레스토랑 사정에 따라 달라질 수 있습니다.</p>
                    </div>
                </div>
            </div>
        </main>
    </div>
<!--footer-->
<div th:replace="fragment/footer :: footer"/>
<!--/footer-->
</div>
</body>
<script src="/js/header.js"></script>
</html>