<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>즐거운 미식 생활의 시작, 캐치테이블</title>
    <div th:replace="fragment/link :: link"/>
    <link rel="shortcut icon" href="https://dau2wmhjxkxtx.cloudfront.net/web-static/static_webapp/img/app/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div id="root">
<div th:replace="fragment/header :: header"/>
    <div class="wrapper" id="wrapperDiv">
        <div class="wrapper">
            <header id="header" class="opaque">
                <div class="container">
                    <div class="header-left-1">
                        <h1 class="page-title" style="padding-right: 4px;">텍사스 데 브라질 센트럴시티점</h1>
                    </div>
                </div>
            </header>
            <main id="main">
                <section class="section mb-40">
                    <div class="container gutter-sm">
                        <div class="review-rating-summary review-rating-summary-splitview">
                            <div class="average">
                                <h5><span>183개 리뷰 별점 평균</span></h5>
                                <div class="score"><strong>4.5</strong></div>
                            </div>
                            <div class="rating-distribution">
                                <ul>
                                    <li><span class="score">5점</span><span class="progress"><span class="bar"
                                                style="width: 51.3661%;"></span></span><span class="count">94</span>
                                    </li>
                                    <li><span class="score">4점</span><span class="progress"><span class="bar"
                                                style="width: 33.8798%;"></span></span><span class="count">62</span>
                                    </li>
                                    <li><span class="score">3점</span><span class="progress"><span class="bar"
                                                style="width: 9.83607%;"></span></span><span class="count">18</span>
                                    </li>
                                    <li><span class="score">2점</span><span class="progress"><span class="bar"
                                                style="width: 1.63934%;"></span></span><span class="count">3</span>
                                    </li>
                                    <li><span class="score">1점</span><span class="progress"><span class="bar"
                                                style="width: 3.27869%;"></span></span><span class="count">6</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section mb-20">
                    <div class="container gutter-sm">
                        <div class="section-header">
                            <div class="utils">
                                <a href="#" class="btn-sort">베스트순</a>
                            </div>
                        </div>
                        <div class="section-body">
                            <hr class="hairline full-width mb-0">
                            <div class="__my-review-list ml--20 mr--20">
                                <div id="shopReviewListScroll">
                                    <div id="shopReviewListScroll_0" data-dummy="495.6363830566406" style="">
                                        <article class="__my-review-post" style="overflow-x: hidden;">
                                            <div class="__header">
                                                <div class="__user-info"><a class="profile">
                                                        <div class="profile-pic">
                                                            <img src="https://dau2wmhjxkxtx.cloudfront.net/web-static/static_webapp_v2/img/noimg/profile_default_v2.png"
                                                                alt="" class="img"></div>
                                                        <h4 class="name username"><span class="txt">박건</span></h4>
                                                    </a></div>
                                                <div class="__review-meta __review-meta--with-rating"><a href="#"
                                                        class="ebold __rating ">4.5 <i class="__arrow"><svg width="16"
                                                                height="16" viewBox="0 0 16 16" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M4.94 5.72667L8 8.78L11.06 5.72667L12 6.66667L8 10.6667L4 6.66667L4.94 5.72667Z"
                                                                    fill="black"></path>
                                                            </svg></i></a>
                                                    <div class="__rating-detail" style="padding-left: 4px;">
                                                        <div class="__item">맛 <span>3.5</span></div>
                                                        <div class="__item">분위기 <span>5.0</span></div>
                                                        <div class="__item">서비스 <span>5.0</span></div>
                                                    </div><span class="__date">2022.12.15</span>
                                                </div>
                                            </div>
                                            <div class="__body" style="position: relative; padding: 0px 16px;">
                                                <div id="shopReviewCardImgList_1272868" class="v-scroll">
                                                    <div class="v-scroll-inner">
                                                        <div id="shopReviewCardImgList_1272868" class="__photos"
                                                            style="display: flex; flex-wrap: nowrap;">
                                                            <div class="swiper-slide" style="margin-right: 8px;"><img
                                                                    src="https://d21sjc85fy47a6.cloudfront.net/aaaaaqx/rv/sO6fBQwSGiEyU7i_JwMLzdg/221215190359712_rv.jpg?small220"
                                                                    alt=""></div>
                                                            <div class="swiper-slide" style="margin-right: 8px;"><img
                                                                    src="https://d21sjc85fy47a6.cloudfront.net/aaaaaqx/rv/sO6fBQwSGiEyU7i_JwMLzdg/221215190359748_rv.jpg?small220"
                                                                    alt=""></div>
                                                            <div class="swiper-slide" style="margin-right: 8px;"><img
                                                                    src="https://d21sjc85fy47a6.cloudfront.net/aaaaaqx/rv/sO6fBQwSGiEyU7i_JwMLzdg/221215190359593_rv.jpg?small220"
                                                                    alt=""></div>
                                                            <div class="swiper-slide" style="margin-right: 8px;"><img
                                                                    src="https://d21sjc85fy47a6.cloudfront.net/aaaaaqx/rv/sO6fBQwSGiEyU7i_JwMLzdg/221215190359637_rv.jpg?small220"
                                                                    alt=""></div>
                                                            <div class="swiper-slide" style="margin-right: 8px;"><img
                                                                    src="https://d21sjc85fy47a6.cloudfront.net/aaaaaqx/rv/sO6fBQwSGiEyU7i_JwMLzdg/221215190359677_rv.jpg?small220"
                                                                    alt=""></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="__review-post">
                                                    <p class="review-content ">고기는 일단 짜다. 좀 싱거운 입맛인 나한테는 힘겨웠다. 근데 사이드를
                                                        많이 가져온 동행은 만족스럽게 먹는걸 보아하니 사이드의 도움을 받아야 하는 것일지도 모르겠다. <br>
                                                        <br>그리고 금방 고기가 마르는데 빨리 먹으면 육즙이 넘쳐서 좋지만 시간을 조금이라도 지체하면 뻑뻑해지니까
                                                        주의해야한다. <br> <br>이런 단점들만 제외하면 고기는 배터지게 먹고도 남을 시간과 양을 제공하고, 셀프바에서
                                                        탄산음료정도는 무료로 가져다 먹을 수 있음. <br> </p><a class="__more "></a>
                                                </div>
                                                <div class="__d-flex __v-center"
                                                    style="justify-content: space-between;">
                                                    <div class="__post-meta mb-24"><span class="__like">0</span><span
                                                            class="__comment">0</span></div>
                                                    <div class="__review-meta"><a class="__more">MORE</a></div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </div>
</div>
<!--footer-->
<div th:replace="fragment/footer :: footer"/>
<!--/footer-->
</body>
<script src="/js/header.js"></script>
</html>